/*Глобальные стили*/
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  min-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.site-wrapper {
  padding-top: 9px;

  background: url("../img/slides/slide-1.png") no-repeat top center #849d8f;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slides/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slides/slide-3.png");
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.user-navigation input,
.subscribe-form input,
.modal input {
  height: 44px;
  padding: 10px 14px 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.user-navigation input::placeholder,
.subscribe-form input::placeholder,
.modal input::placeholder,
.modal textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.user-navigation input:hover,
.subscribe-form input:hover,
.modal input:hover,
.modal textarea:hover {
  padding-left: 13px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.user-navigation input:focus,
.subscribe-form input:focus,
.modal input:focus,
.modal textarea:focus {
  padding-left: 13px;

  border: 2px solid rgba(46, 136, 228, 0.52);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.popup {
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.btn {
  display: inline-block;
  padding: 9px 22px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: #ffffff;

  background: linear-gradient(#f26843, #e74a35) #e84d37;
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(#f58669, #ec6f5e) #f07a63;
  box-shadow: 0 1px 2px 0 #ac1000;
}

.btn:active {
  background: linear-gradient(#d74531, #e1613e) #db5338;
  box-shadow: inset 0 2px 2px 0 #942718;
}

.btn-lg {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 32px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn-lg:hover {
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn-lg:active {
  box-shadow: inset 0 2px 2px 0 #942718;
}

.catalog-link:hover span,
.catalog-link:focus span,
.footer-menu a:hover,
.footer-menu a:focus,
.footer-copyright-link:hover,
.footer-copyright-link:focus,
.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: #ffbc9e;

  border-bottom-color: rgba(249, 172, 159, 0.3);
}

/*Хэдер*/

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inner-header {
  margin-top: 9px;
}

.main-header-logo {
  margin-right: 9px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-top: 14px;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.site-navigation-item {
  position: relative;
}

.site-navigation-link {
  display: block;
  width: 100%;
  padding: 7px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-radius: 16px;
}

.site-navigation-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.site-navigation-item:hover .site-navigation-link:not(.navigation-current),
.site-navigation-link:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.site-navigation-item:hover span,
.site-navigation-link:focus span {
  border-bottom: 0;
}

.site-navigation-link:active:not(.navigation-current) {
  color: #333333;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-current > span {
  border-bottom: 0;
}

.navigation-current,
.catalog-current {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-nav {
  position: absolute;
  top: 37px;
  left: -6px;
  z-index: 8;

  display: none;
  margin: 0;
  padding: 2px 0 0;

  list-style: none;
}

.site-navigation-item:hover .catalog-nav {
  display: block;
}

.catalog-nav li {
  /*margin-bottom: 2px;*/
}

.catalog-nav a {
  display: block;
  margin: 4px 0;
  padding: 6px 20px;

  font-size: 14px;
  line-height: 16px;
}

.catalog-nav a:not(.catalog-current) {
  color: #323232;
}

.catalog-nav a:focus,
.catalog-nav a:hover:not(.catalog-current) {
  background-color: #fbded7;
}

.catalog-nav a:active:not(.catalog-current) {
  background-color: #f6b5a5;
}

.catalog-nav li:first-child::after {
  content: "";

  display: block;
  height: 1px;
  margin: 0 6px;

  background-color: rgba(53, 53, 53, 0.2);
}

.popup-search {
  position: absolute;
  right: 0;
  z-index: 3;

  display: none;
  padding: 20px 15px;
}

.popup-search input {
  min-width: 311px;
}

.popup-login {
  position: absolute;
  right: -2px;
  z-index: 3;

  display: none;
  margin-top: 5px;
  padding: 19px 17px 22px 19px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.login-form p {
  margin-top: 0;
}

.login-form input {
  min-width: 241px;
}

.login-form input[type="password"] {
  margin: 4px 0 3px;
}

.login-form button {
  padding: 12px 24px 8px;

  border-radius: 18px;
}

.login-help {
  margin-right: 3px;
}

.login-help {
  margin-bottom: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;

  list-style: none;
}

.user-navigation input {
  width: 100%;
}

.user-navigation-item {
  position: relative;

  margin-left: 10px;
}

.user-navigation-item > button:not(.cart-not-empty) {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation-item > button {
  min-width: 32px;
  min-height: 32px;

  font-weight: 500;
  line-height: 16px;

  background-repeat: no-repeat;
  border: none;
  border-radius: 16px;
}

.user-navigation-item:hover > button,
.user-navigation-item > button:focus {
  color: #333333;

  background-color: #f8f7f4;
}

.user-navigation-item:hover .popup {
  display: block;
}

.user-search {
  background: url("../img/loupe.svg") 7px 7px;
}

.user-navigation-item:hover .user-search,
.user-search:focus {
  background-image: url("../img/loupe-black.svg");
}

.user-login {
  padding-right: 16px;
  padding-left: 44px;

  font-size: 14px;
}
.user-cart {
  padding-right: 34px;
  padding-left: 44px;

  font-size: 14px;
}

.user-login {
  background-image: url("../img/entrance.svg");
  background-position: 16px 6px;
}

.user-navigation-item:hover .user-login,
.user-login:focus {
  background-image: url("../img/entrance-black.svg");
}

.login-help a {
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-help a:hover,
.login-help a:focus {
  color: #e84d37;

  border-bottom-color: rgba(236, 89, 60, 0.3);
}

.cart {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 3;

  display: none;
  min-width: 540px;
  padding: 12px 12px 22px;

  text-align: right;
}

.user-cart {
  background-image: url("../img/basket.svg");
  background-position: 16px 6px;
}

.user-navigation-item:hover .user-cart:not(.cart-not-empty),
.user-cart:focus:not(.cart-not-empty) {
  background-image: url("../img/basket-black.svg");
}

.cart-not-empty {
  padding-right: 16px;

  color: #333333;

  background-color: #f8f7f4;
  background-image: url("../img/basket-red.svg");
}

.cart-price {
  color: #999999;
}

.cart-table {
  width: 100%;
  margin-bottom: 3px;

  font-size: 13px;
  line-height: 16px;
  text-align: left;
}
.cart-table td {
  padding-top: 15px;
  padding-bottom: 10px;

  vertical-align: top;
}

.cart-table td:first-child:not(:only-child) {
  width: 25px;
}

.cart-table td:nth-child(2) {
  width: 43px;
  padding-top: 5px;
}

.cart-table td:nth-child(3) {
  width: 245px;
  padding-right: 15px;
}

.cart-table td:nth-child(4) {
  width: 121px;
}

.cart-table td:only-child {
  padding-top: 15px;
}

.cart-delete {
  width: 11px;
  height: 11px;

  vertical-align: middle;

  background: url("../img/cross-small.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.cart-img {
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.cart-sum {
  font-size: 15px;
  line-height: 18px;
  text-align: right;

  border-top: 1px solid #cacac7;
}

.cart .btn {
  margin-right: 2px;
  margin-left: auto;
  padding-right: 14px;
  padding-left: 14px;
}

.main-time {
  position: relative;
  z-index: 2;

  margin-top: -6px;
  margin-bottom: -32px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.main-phone {
  display: inline-block;
  margin-top: 5px;

  font-size: 22px;
  line-height: 24px;
  vertical-align: middle;
  color: #ffffff;
}

.main-phone:hover,
.main-phone:focus {
  color: #e84d37;
}

/*Основное содержимое*/

.slider {
  position: relative;

  margin-bottom: 20px;
  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider {
  position: relative;

  margin-bottom: 42px;
  padding-top: 305px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[name="toggle"]:nth-child(1):checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slides/slide-1.png");
}

input[name="toggle"]:nth-child(2):checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slides/slide-2.png");
}

input[name="toggle"]:nth-child(3):checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slides/slide-3.png");
}

input[name="toggle"]:nth-child(1):checked ~ .site-wrapper .slide:nth-child(1),
input[name="toggle"]:nth-child(2):checked ~ .site-wrapper .slide:nth-child(2),
input[name="toggle"]:nth-child(3):checked ~ .site-wrapper .slide:nth-child(3) {
  display: block;
}

input[name="toggle"]:nth-child(1):checked ~ .site-wrapper label[for="product-1"],
input[name="toggle"]:nth-child(2):checked ~ .site-wrapper label[for="product-2"],
input[name="toggle"]:nth-child(3):checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.banners {
  margin-bottom: 33px;
}

.banners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.banner-item {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  min-height: 229px;
  padding: 16px 21px 25px 18px;

  background-position: center;
  background-size: cover;
  border-radius: 14px;
}

.banner-item h3 {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.banner-item p {
  margin-top: 14px;

  font-weight: 700;
  font-size: 18px;
}

.banner-item .btn {
  align-self: flex-end;
  margin-top: auto;
}

.banner-berry {
  background-color: #871931;
  background-image: url("../img/berry-bg.jpg");
}

.banner-chocolate {
  background-color: #43281c;
  background-image: url("../img/chocolate-bg.jpg");
}

.hit-icon {
  position: absolute;
  top: 6px;
  left: 13px;

  display: block;
  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
}

.catalog-item {
  position: relative;

  max-width: 293px;
  margin-bottom: -42px;
  padding: 6px 13px 75px 13px;

  border-radius: 5px;
}

.catalog-item:first-child,
.catalog-item:nth-child(4n+1) {
  margin-left: -13px;
}

.catalog-item:nth-child(4n) {
  margin-right: -13px;
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item:hover button {
  z-index: 1;

  display: block;
}

.catalog-item img {
  margin-bottom: 7px;

  border-radius: 50%;
}

.catalog-price {
  position: absolute;
  top: 215px;

  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-price > span {
  font-size: 30px;
}

.catalog-link {
  display: block;
  padding: 0 5px;

  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.catalog-link > span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.catalog-item .btn {
  position: absolute;
  bottom: 20px;
  left: 45px;

  display: none;
  padding-right: 17px;
  padding-left: 17px;
}

.features {
  margin-top: -40px;
  margin-bottom: 40px;
  padding: 25px 24px 22px 20px;

  color: #323232;

  background-color: #ece0c6;
  background-image: url("../img/waffle-bg.jpg");
  border-radius: 15px;
}

.features-lead {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list li {
  max-width: 535px;
  margin-top: 10px;
  padding-top: 12px;
  padding-left: 56px;

  background-repeat: no-repeat;
}

.features-list li:nth-child(2n-1) {
  margin-right: 25px;
}

.feature-ice-cream {
  background-image: url("../img/ice-cream.svg");
}

.feature-cow {
  background-image: url("../img/cow.svg");
}

.feature-eco {
  background-image: url("../img/eco.svg");
}

.feature-thermometer {
  background-image: url("../img/thermometer.svg");
}

.blog-subscribe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.blog {
  width: 560px;
  padding: 12px 250px 20px 20px;

  color: #5a5a5a;

  background: url("../img/strawberry-bg.jpg") no-repeat 106px -79px #ffffff;
  border-radius: 15px;
}

.blog h2 {
  margin-bottom: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #353535;
  text-decoration: underline;

  background-color: rgba(255, 255, 255, 0.8);
}

.blog-link:hover,
.blog-link:focus {
  color: #e84d37;
}

.subscribe-bg {
  width: 560px;
  padding: 5px;

  color: #5a5a5a;

  background: url("../img/post-bg.svg") center/cover #f8f7f4;
  border-radius: 15px;
}

.subscribe {
  padding: 32px 20px;

  background-color: #f8f7f4;
  border-radius: 8px;
}

.subscribe p {
  margin-top: 0;
  margin-bottom: 35px;
}

.subscribe input {
  min-width: 368px;
  margin-right: 8px;
}

.subscribe input::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.subscribe .btn {
  padding-right: 18px;
  padding-left: 18px;
}

.map {
  position: relative;

  margin-bottom: 20px;
  padding-top: 62px;
  padding-bottom: 66px;

  color: #000000;

  background: url("../img/map-bg.jpg") no-repeat center/cover #f7f1d9;
}

.map-iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
}

.map-description {
  position: relative;

  display: block;
  max-width: 302px;
  margin-left: auto;
  padding: 15px 25px 25px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #fdfefe;
  border-radius: 15px;
}

.map-description b {
  font-size: 18px;
  line-height: 24px;
}

.map-description p {
  margin-bottom: 20px;
}

.map-description a {
  line-height: 28px;
  color: #323232;
}

.map-description a:hover,
.map-description a:focus {
  color: #e84d37;
}

.map-description button {
  width: 100%;
  margin-top: 5px;
}

/*Футер*/

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 10px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 11px;

  vertical-align: middle;
  color: #e6ebe9;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.social-twitter {
  background-image: url("../img/twitter.svg");
}

.social-instagram {
  background-image: url("../img/instagram.svg");
}

.social-facebook {
  background-image: url("../img/fb.svg");
}

.social-vkontakte {
  background-image: url("../img/vk.svg");
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.social-button:active {
  box-shadow: inset 0 2px 1px 0 #888888;
  opacity: 0.8;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-width: 320px;
  margin-top: 12px;
  margin-left: 12px;
  padding: 0;

  list-style: none;
}

.footer-menu > li:nth-child(2n-1) {
  min-width: 142px;
}


.footer-menu a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-menu-favorite {
  position: relative;
}

.footer-menu-favorite::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  display: block;
  width: 15px;
  height: 13px;

  background: url("../img/heart.svg") no-repeat 0 50%;
}

.footer-copyright {
  min-height: 60px;
  margin-top: 0;

  font-size: 12px;
  line-height: 18px;
}

.footer-copyright-link {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/*Модальные окна*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: flex;
}

.modal > section {
  position: relative;

  margin: auto;
  padding: 16px 25px 25px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 8px;

  animation: bounce 0.6s;
}

.modal-feedback {
  width: 477px;
}

.modal-feedback h2 {
  max-width: 450px;
  margin-top: 0;

  font-size: 24px;
  line-height: 28px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  background: url("../img/cross-big.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form input {
  min-width: 267px;
}

.feedback-form > p {
  margin-top: 0;
  margin-bottom: 20px;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.feedback-form textarea {
  width: 100%;
  min-height: 155px;
  padding: 8px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.feedback-form textarea:hover,
.feedback-form textarea:focus {
  padding-top: 7px;
}

.feedback-form .btn {
  margin-left: auto;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/*Каталог*/

.breadcrumbs {
  display: flex;
  max-width: 920px;
  margin-bottom: 5px;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a[href] {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";

  margin-right: 8px;
  margin-left: 8px;
}

.catalog-title {
  max-width: 920px;
  margin-top: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.filter {
  max-width: 920px;
  margin-bottom: 22px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter fieldset {
  margin-bottom: 14px;
  padding: 0;

  border: none;
}

.filter legend {
  margin-bottom: 7px;
  margin-left: 13px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter label,
.filter-sort,
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-sort {
  min-height: 36px;
  margin-right: 15px;
  padding-right: 32px;
  padding-left: 13px;

  color: white;

  background: url("../img/select-arrow.svg") no-repeat 92% 50%/11px rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-sort::-ms-expand {
  display: none;
}

.filter-sort:hover,
.filter-sort:focus {
  color: #323232;

  background-image: url("../img/select-arrow-dark.svg");
}

.filter-sort:active {
  color: #323232;

  background-color: #ffffff;
}

.filter-sort > option {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.filter-range {
  display: inline-block;
  margin-right: 12px;
  padding: 7px 20px 8px;

  font-size: 0;
  vertical-align: middle;

  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filter-range span {
  display: inline-block;
  width: 20px;
  height: 20px;

  vertical-align: middle;

  background-color: #ababab;
  background-clip: border-box;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.filter-range span:hover {
  box-shadow: 0 0 0 1px white;
}

.filter-range div {
  display: inline-block;
  height: 4px;

  vertical-align: middle;

  background-color: rgba(248, 247, 244, 0.5);
}

.filter-range div:first-child {
  width: 13px;
}

.filter-range div:nth-of-type(2) {
  width: 78px;

  background-color: #f8f7f4;
}

.filter-range div:last-child {
  width: 45px;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;

  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filter-radio:disabled ~ label,
.filter-checkbox:disabled ~ label {
  opacity: 0.4;
}

.filter-group li {
  display: inline-block;
  padding-top: 5px;

  vertical-align: middle;
}

.filter-group label {
  vertical-align: middle;
}

.filter-radios {
  min-width: 415px;
  padding: 0 16px 6px 13px;
}

.filter-radios label::before {
  content: "";

  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;

  vertical-align: middle;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

.filter-radio:enabled ~ label::before,
.filter-checkbox:enabled ~ label::before {
  cursor: pointer;
}

.filter-radio:checked ~ label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-checks label::before {
  content: "";

  display: inline-block;
  width: 24px;
  height: 20px;
  margin-right: 8px;

  vertical-align: middle;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

.filter-checks {
  min-width: 702px;
  margin-right: 10px;
  padding: 0 20px 6px 14px;
}

.filter-checkbox:checked ~ label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-radio:enabled ~ label:hover::before,
.filter-radio:focus ~ label::before,
.filter-checks:enabled label:hover::before,
.filter-checkbox:focus ~ label::before {
  opacity: 1;
}

.filter-button {
  align-self: flex-end;
  margin-bottom: 14px;
  padding: 7px 28px 5px;

  color: white;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 18px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  padding: 9px 30px 7px;

  color: #323232;

  background-color: #ffffff;
  border: none;
}

.filter-button:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
  padding-left: 0;

  list-style: none;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  display: inline-block;
  margin-left: 4px;
  padding: 5px 8px 3px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  color: white;

  border-radius: 13px;
}

.pagination-item[href]:hover,
.pagination-item[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item[href]:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-current {
  color: #323232;

  background-color: #ffffff;
}

.pagination-previous,
.pagination-next {
  display: inline-block;
  width: 10px;
  height: 100%;

  vertical-align: middle;

  background: url("../img/icon-right-small.svg") no-repeat;
}

.pagination-previous {
  margin-right: 12px;

  background-position: 50% 6px;
  transform: rotate(180deg);
}

.pagination-next {
  margin-left: 15px;

  background-position: 50% 8px;
}

.pagination-previous:active,
.pagination-next:active {
  background-image: url("../img/icon-right-small-dark.svg");
}

.pagination-inactive {
  opacity: 0.2;
}

.inner-footer::before {
  content: "";

  display: block;
  width: 100%;
  margin-bottom: 18px;

  border-top: 1px solid rgba(255,255,255,0.93);
}
